/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Muli:200,300,400,600');
body {
    font-family: 'Muli', sans-serif;
    background: #F5F5F6;
  }
  label {
    font-size: 15px;
    font-weight: 600;
    color: #222;
    margin-bottom: 6px;
  }
